In [1]:
import pandas as pd
import numpy as np

In [3]:
# Use for loops to iterate over df rows with .iterrows() method
# Returns rows as a series
# Can specify what to print

In [4]:
# Another way to iterate through df rows (preferred) is with .itertuples() method
# Difference is that this returns a list tuple
# Preferred because not returned as a series which can complicate things

In [5]:
### FUNCTIONS

In [6]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [7]:
df.sample(5)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1413,Michael Beasley,201563,2015-16,20.0,27.0,362.587,107.0,205.0,3.0,38.0,49.0,29.0,69.0,16.0,24.0,11.0,9.0,255.0
158,Pau Gasol,2200,2002-03,82.0,22.0,2945.980,569.0,1116.0,1.0,416.0,565.0,192.0,528.0,229.0,213.0,34.0,148.0,1555.0
1305,DeAndre Jordan,201599,2014-15,82.0,26.0,2819.960,379.0,534.0,1.0,187.0,471.0,397.0,829.0,61.0,109.0,81.0,183.0,946.0
824,Raymond Felton,101109,2008-09,82.0,25.0,3086.230,442.0,1083.0,59.0,219.0,272.0,54.0,256.0,553.0,228.0,126.0,30.0,1162.0
2655,Alex Poythress,1627816,2016-17,6.0,23.0,156.833,25.0,54.0,6.0,8.0,10.0,11.0,18.0,5.0,3.0,3.0,2.0,64.0

In [8]:
# If we want to add a year to every players age we can create a function to do so

In [12]:
def add_year(current_age):
    new_age = current_age + 1
    return new_age

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_name  2741 non-null   object
 1   player_id    2741 non-null   int64
 2   season_id    2741 non-null   object
 3   gp           2741 non-null   float64
 4   age          2741 non-null   float64
 5   min          2741 non-null   float64
 6   fgm          2741 non-null   float64
 7   fga          2741 non-null   float64
 8   fg3m         2741 non-null   float64
 9   ftm          2741 non-null   float64
 10  fta          2741 non-null   float64
 11  oreb         2741 non-null   float64
 12  dreb         2741 non-null   float64
 13  ast          2741 non-null   float64
 14  tov          2741 non-null   float64
 15  stl          2741 non-null   float64
 16  blk          2741 non-null   float64
 17  pts          2741 non-null   float64
dtypes: float64(15), int64(1), object(2)
memory usage: 385.6+ KB

In [14]:
# Use apply method to apply functions
df['age'].apply(add_year)

0       22.0
1       23.0
2       24.0
3       25.0
4       26.0
        ...
2736    22.0
2737    22.0
2738    23.0
2739    23.0
2740    24.0
Name: age, Length: 2741, dtype: float64

In [15]:
def ppg_calc(row):
    gp = row[3]
    pts = row[17]
    ppg = pts/gp
    return ppg

In [16]:
df.apply(ppg_calc, axis = 1)

0        8.191489
1       17.500000
2       21.756098
3       23.407895
4       25.137500
          ...
2736     7.278689
2737     3.212121
2738     5.071429
2739     8.152778
2740    10.043478
Length: 2741, dtype: float64

In [17]:
df

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
0,Dirk Nowitzki,1717,1998-99,47.0,21.0,959.118,136.0,335.0,14.0,99.0,128.0,41.0,121.0,47.0,73.0,29.0,27.0,385.0
1,Dirk Nowitzki,1717,1999-00,82.0,22.0,2940.940,515.0,1118.0,116.0,289.0,348.0,102.0,430.0,203.0,141.0,63.0,68.0,1435.0
2,Dirk Nowitzki,1717,2000-01,82.0,23.0,3122.750,591.0,1247.0,151.0,451.0,538.0,119.0,635.0,173.0,156.0,79.0,101.0,1784.0
3,Dirk Nowitzki,1717,2001-02,76.0,24.0,2891.010,600.0,1258.0,139.0,440.0,516.0,120.0,635.0,186.0,145.0,83.0,77.0,1779.0
4,Dirk Nowitzki,1717,2002-03,80.0,25.0,3121.160,690.0,1489.0,148.0,483.0,548.0,81.0,710.0,239.0,152.0,111.0,82.0,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2736,Tyler Ulis,1627755,2016-17,61.0,21.0,1122.810,184.0,437.0,21.0,55.0,71.0,20.0,75.0,226.0,77.0,48.0,5.0,444.0
2737,Wade Baldwin IV,1627735,2016-17,33.0,21.0,404.955,36.0,115.0,3.0,31.0,37.0,11.0,35.0,61.0,39.0,18.0,7.0,106.0
2738,Wayne Selden,1627782,2016-17,14.0,22.0,236.003,25.0,58.0,7.0,14.0,22.0,1.0,15.0,13.0,12.0,6.0,1.0,71.0
2739,Willy Hernangomez,1626195,2016-17,72.0,22.0,1324.390,246.0,465.0,4.0,91.0,125.0,170.0,332.0,96.0,100.0,41.0,36.0,587.0
2740,Yogi Ferrell,1627812,2016-17,46.0,23.0,1197.080,160.0,394.0,68.0,74.0,89.0,20.0,91.0,172.0,70.0,42.0,9.0,462.0

In [18]:
def ft_calc(row):
    ft_p = (row['ftm']/ (row['fta'] + 0.00001))
    return round(ft_p,1)

In [21]:
df['ft_percent'] = df.apply(ft_calc, axis=1)

In [22]:
df.sample(10)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ft_percent
2485,Langston Galloway,204038,2015-16,82.0,24.0,2033.3000,231.0,588.0,77.0,86.0,114.0,43.0,245.0,207.0,61.0,77.0,22.0,625.0,0.8
1841,Patrick Patterson,202335,2010-11,52.0,22.0,867.5200,149.0,267.0,0.0,30.0,42.0,86.0,114.0,41.0,31.0,17.0,37.0,328.0,0.7
2653,AJ Hammons,1627773,2016-17,22.0,24.0,163.2320,17.0,42.0,5.0,9.0,20.0,8.0,28.0,4.0,10.0,1.0,13.0,48.0,0.4
2273,Cody Zeller,203469,2013-14,82.0,21.0,1416.6700,172.0,404.0,0.0,146.0,200.0,118.0,235.0,92.0,87.0,40.0,41.0,490.0,0.7
1678,Wesley Matthews,202083,2014-15,60.0,28.0,2024.1700,337.0,752.0,173.0,109.0,145.0,38.0,184.0,139.0,81.0,77.0,10.0,956.0,0.8
1527,Gerald Henderson,201945,2013-14,77.0,26.0,2460.5900,403.0,930.0,40.0,235.0,309.0,31.0,279.0,199.0,113.0,51.0,32.0,1081.0,0.8
1606,Patty Mills,201988,2013-14,81.0,25.0,1527.3100,309.0,666.0,135.0,73.0,82.0,34.0,135.0,149.0,63.0,68.0,9.0,826.0,0.9
2430,Gary Harris,203914,2014-15,55.0,20.0,718.8230,66.0,217.0,21.0,35.0,47.0,21.0,43.0,29.0,38.0,39.0,7.0,188.0,0.7
1242,Anthony Tolliver,201229,2015-16,72.0,31.0,1340.5800,128.0,332.0,98.0,29.0,47.0,39.0,190.0,52.0,28.0,26.0,16.0,383.0,0.6
2599,Kevon Looney,1626172,2015-16,5.0,20.0,20.5983,4.0,7.0,1.0,0.0,0.0,4.0,6.0,0.0,1.0,0.0,0.0,9.0,0.0

In [23]:
# To find career ft %

In [24]:
df.groupby('player_name').sum().apply(ft_calc, axis=1)

player_name
AJ Hammons         0.4
Aaron Brooks       0.8
Aaron Gordon       0.7
Aaron Harrison     0.4
Adreian Payne      0.7
                  ...
Wilson Chandler    0.8
Yogi Ferrell       0.8
Zach LaVine        0.8
Zach Randolph      0.8
Zaza Pachulia      0.7
Length: 486, dtype: float64

In [25]:
# To use arrays use numpy array method

In [26]:
kawhi_steals = [4,5,2,1,3]

In [27]:
kawhi_steals

[4, 5, 2, 1, 3]

In [28]:
klaw = np.array(kawhi_steals)

In [29]:
klaw

array([4, 5, 2, 1, 3])