In [1]:
import pandas as pd

Creating a Dataframe

In [3]:
df = pd.DataFrame()

In [4]:
okc_dict = {
    'first_name': ['Shai', 'Lugentz', 'Alexsej', 'Darius'],
    'last_name': ['Gilgeous-Alexander', 'Dort', 'Pokusevski', 'Bazley'],
    'ppg': [23.7, 14.0, 8.2, 13.7],
    'apg': [5.9, 1.7, 2.2, 1.8],
    'rpg': [4.7, 3.6, 4.7, 7.2]
}

In [5]:
pd.DataFrame(okc_dict)

  first_name           last_name   ppg  apg  rpg
0       Shai  Gilgeous-Alexander  23.7  5.9  4.7
1    Lugentz                Dort  14.0  1.7  3.6
2    Alexsej          Pokusevski   8.2  2.2  4.7
3     Darius              Bazley  13.7  1.8  7.2

In [6]:
df = pd.DataFrame(okc_dict, index=[1,2,3,4])

In [7]:
print(df)

  first_name           last_name   ppg  apg  rpg
1       Shai  Gilgeous-Alexander  23.7  5.9  4.7
2    Lugentz                Dort  14.0  1.7  3.6
3    Alexsej          Pokusevski   8.2  2.2  4.7
4     Darius              Bazley  13.7  1.8  7.2

In [8]:
stats = [['Shai', 4, 6], ['Lugentz', 2, 3], ['Alexsej', 4, 4]]

In [9]:
pd.DataFrame(stats, columns = ['player', 'oreb', 'dreb'])

    player  oreb  dreb
0     Shai     4     6
1  Lugentz     2     3
2  Alexsej     4     4